NET "Red[0]"   LOC = N21 | IOSTANDARD = LVCMOS33;
NET "Red[1]"   LOC = N22 | IOSTANDARD = LVCMOS33;
NET "Red[2]"   LOC = R21 | IOSTANDARD = LVCMOS33;
NET "Red[3]"   LOC = P21 | IOSTANDARD = LVCMOS33;
NET "Green[0]" LOC = R22 | IOSTANDARD = LVCMOS33;
NET "Green[1]" LOC = R23 | IOSTANDARD = LVCMOS33;
NET "Green[2]" LOC = T24 | IOSTANDARD = LVCMOS33;
NET "Green[3]" LOC = T25 | IOSTANDARD = LVCMOS33;
NET "Blue[0]"  LOC = T20 | IOSTANDARD = LVCMOS33;
NET "Blue[1]"  LOC = R20 | IOSTANDARD = LVCMOS33;
NET "Blue[2]"  LOC = T22 | IOSTANDARD = LVCMOS33;
NET "Blue[3]"  LOC = T23 | IOSTANDARD = LVCMOS33;
NET "VSYNC"    LOC = M21 | IOSTANDARD = LVCMOS33;
NET "HSYNC"    LOC = M22 | IOSTANDARD = LVCMOS33;